.lista{
    margin-left: 20px;
}
.container{
    margin-bottom: 20px;
}
.col1{
    padding-top: 50px;
    text-align: center;
}
.col2{
    margin-top: 20px;
}
.col3{
    font-weight: 400;
    font-size: large;
    padding-top: 150px;
    text-align: center;
    font-style: oblique;
}
.col1footer{
    padding-left: 200px;
    background-color: #343a40;
    text-align: center;
    color: azure;
    font-style: oblique;
    font-size: smaller;
    font-weight: 600;
}
.col2footer{
    background-color: #343a40;
    text-align: center;
    color: azure;
    font-style: oblique;
    font-size: smaller;
    font-weight: 600;
}
.col3footer{
    background-color: #343a40;
}
