#contenido{
    padding-top: 40px;
    text-align: center;
    font-style: oblique;
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
}
.boton{
    margin-left: 5px;
}
.lista{
    margin-left: 20px;
}
.col1footer{
    padding-left: 200px;
    background-color: #343a40;
    text-align: center;
    color: azure;
    font-style: oblique;
    font-size: smaller;
    font-weight: 600;
}
.col2footer{
    background-color: #343a40;
    text-align: center;
    color: azure;
    font-style: oblique;
    font-size: smaller;
    font-weight: 600;
}
.col3footer{
    background-color: #343a40;
}